.benefits {
  background-color: #1e1823;
  padding-top: 20px;
  padding-bottom: 20px;
}

.benefits-container {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.benefits-item {
  width: 100%;
  position: relative;
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}
.benefits-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.benefits-item-icon {
  fill: #fd9222;
}

.benefits-icon-blok {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}
