.hero-container {
  background-color: #fcf1e0;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../img/hero-background-mob.jpg);
  height: 620px;
  background-repeat: no-repeat;
  background-size: cover;

  max-width: 335px;
  padding-top: 392px;

  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero-container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../img/hero-background-mob-2x.jpg);
  }
}

.hero {
  padding-bottom: 60px;
}

.hero-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;

  max-width: 280px;

  margin-bottom: 25px;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background: #fd9222;
  border-radius: 100px;
  width: 120px;
  height: 41px;
  margin-right: 14px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: #fff;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll:hover,
.hero-scroll:focus {
  color: #fd9222;
}

.hero-scroll:hover .hero-scroll-btn,
.hero-scroll:focus .hero-scroll-btn {
  background-color: #fd9222;
}

.hero-scroll:hover .hero-scroll-btn .hero-scroll-icon,
.hero-scroll:focus .hero-scroll-btn .hero-scroll-icon {
  fill: #fff;
}

.hero-flex-btn {
  display: flex;
  margin-bottom: 32px;
}

.hero-made {
  border: 1px solid #fff;
  border-radius: 100px;
  width: 159px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-made:hover,
.hero-made:focus {
  border: 1px solid #fd9222;
  background-color: #fff;
  color: #fd9222;
}

.hero-scroll-icon {
  fill: #fd9222;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll-btn {
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
